COMMONVOICE_VALIDATED_DIR=data/audio_files_raw
COMMONVOICE_VALIDATED_WAV_DIR=data/wav_files
TRANSCRIPTION_OUTPUT_DIR=output
VALIDATED_TSV_PATH=data/validated_transcriptions.tsv

OPENAI_API_KEY=key_here
GROQ_API_KEY=key_here
WIT_AI_KEY=key_here